.button {   font-size:30px;
             border: 5px;
             border-radius: 30px;
             width: 310px;
             padding:19px;
             position: absolute;
             top: 390px;
             left: 510px;
             background-color: blue;
             color: white;
             cursor: pointer;}

.nav_link { 
    color:blue;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right:10px;
}


.button:hover {background-color: rgb(90, 192, 87);}

.search-text {
    position: relative;
    font-size: 41px;
    top: 50px;
    margin-top: 90px;
}
.search-input {padding:10px ;
       width: 300px;
       position: absolute;
       left: 700px;
       }